upstream app {
{% for app in apps %}
    server {{ app.split(':')[0] }}:{{ app.split(':')[1] }};
{% endfor %}
}

server {
    listen {{ server_port }};
    server_name {{ server_name }};
    location / {
        proxy_pass http://app;
        add_header X-Upstream $upstream_addr;
    }
}